$w: 1260px;
$pri-c: #FFF;
$headbg : #ECF0FB;
$btnBg: linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
$aHead: #3F74EF;
$aText: #737373;
$about: linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
$bannerbgc: #05092B;
$box: 0px 5px 60px 0px rgba(0, 0, 0, 0.05);